<mat-card>
    <mat-card-title>Excluir produto</mat-card-title>

    <form>
        <mat-form-field>
            <input matInput [value]="product.name" disabled placeholder="Nome" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput [value]="product.price" disabled  placeholder="Preço (R$)" name="name">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="delete()" color="accent">Excluir</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
